# hidden files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*

# firebase database information
client/lib/firebaseLink.js

# Dependencies
client/bower_components/
node_modules/
spec/

#floo
.floo
.flooignore
