<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">
      <a ui-sref="dash.default">
        <img src="assets/HHlogoWhite.png" class="hh-logo" alt="Home Harmony Logo"></img>
        <span style="color:white">ome Harmony</span>
      </a>
    </span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a ng-hide="currentUser" class="mdl-navigation__link" href="#/login">Login</a>
      <a ng-hide="currentUser" class="mdl-navigation__link" href="#/newUser">New User</a>
      <a ng-show="currentUser" class="mdl-navigation__link" ng-click="logOut()">Logout</a>
    </nav>
  </div>
</header>

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Title</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" ui-sref="dash.default"><img src="assets/home.png" class="nav-icon" alt="home icon" href>Home</a>
    <a class="mdl-navigation__link" ui-sref="dash.tasks"><img src="assets/list.png" class="nav-icon" alt="list icon" href>Tasks</a>
    <a class="mdl-navigation__link" ui-sref="dash.expenses"><img src="assets/expense.png" class="nav-icon" alt="expense icon" href>Expenses</a>
    <a class="mdl-navigation__link" ui-sref="dash.issues"><img src="assets/chat.png" class="nav-icon" alt="chat icon" href>Issues</a>
  </nav>
</div>
