<div class="mdl-grid" style="max-width: 90%; margin: 0px auto">
  <div class="shoppingList-container mdl-cell mdl-cell--5-col hh-form-overlay" style="float:left">  <!-- mdl-cell--middle  -->
    <div class="hh-form">
      <br>
      <h1 style="padding-left: 5px"> Household Items Needed </h1>
      <hr>
      <form style="width: 90%; margin: 0px auto;" class="itemForm" name="itemForm" ng-submit='addShoppingItem()'>
        <input  id="shoppingItemField" type='text' name="userShoppingItem" ng-model='shoppingText' placeholder='enter item to purchase' required>
        <button style="margin: 0px 45%" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored #hh-issue-btn">Submit</button>
      </form>
      <br>
    </div>
  </div>

  <div class="tasksList-container hh-form-overlay mdl-cell mdl-cell--5-col" style="float:right">
    <br>
    <h1 style="padding-left: 5px"> Shopping List </h1>
    <hr>
      <ul>
        <li ng-repeat="item in allShoppingItems track by $index">
          {{item.date}} - {{item.text}}
          <div><p>(Added by: {{item.addedBy}})</p></div>
          <form name="removeButton" ng-submit='removeShoppingItem(item.text)'>
            <button>Purchased</button>
            <hr>
          </form>
        </li>
        <li ng-if="allShoppingItems.length === 0">
          <strong>Nothing to buy!</strong>
        </li>
      </ul>
  </div>
</div>
