
<div class="android-more-section">
  <div class="android-section-title mdl-typography--display-1-color-contrast">Welcome to your Home Dashboard</div>
  <div class="android-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="images/more-from-1.png">
      </div>
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">Recent Events</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">
        	<ul class="dash-recentTaskList">
					  <li><img src="assets/list.png" class="list-icon" alt="task icon">
					  	<span>Take out the trash</span>
					  </li>
					  <li>
					  	<img src="assets/expense.png" class="list-icon" alt="expense icon">
					    <span>Pay the electricity bill</span>
					  </li>
					  <li><img src="assets/list.png" class="list-icon" alt="task icon">
					  	<span>Mow the lawn</span>
					  </li>
					  <li>
					  	<img src="assets/expense.png" class="list-icon" alt="expense icon">
					    <span>Pay the cable bill</span>
				    </li>
				   	<li>
					  	<img src="assets/list.png" class="list-icon" alt="expense icon">
					    <span>Buy more milk</span>
				    </li>
			    </ul>
        </span>
      </div>
      <div class="mdl-card__actions">
         <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href=""> See more Tasks<i class="material-icons">chevron_right</i></a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="images/more-from-4.png">
      </div>
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">Monthly Expenses</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <img src="assets/template_graph.png" class="feature-chart">
      </div>
      <div class="mdl-card__actions">
         <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">See expenses due<i class="material-icons">chevron_right</i></a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="images/more-from-2.png">
      </div>
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">Current House Issues</h4>
      </div>
      <div class="mdl-card__supporting-text issuesListContainer">
		    <ul>
				  <li><img src="assets/default_user.png" class="list-icon" alt="task icon">
					  <span>Please label your food in the fridge</span>
					</li>
				  <li>
				  	<img src="assets/default_user.png" class="list-icon" alt="expense icon">
				    <span>Thanks for taking out the trash, Maura!</span>
				  </li>
				  <li><img src="assets/default_user.png" class="list-icon" alt="task icon">
				  	<span>Let's keep it down after 11:00pm</span>
				  </li>
				  <li>
				  	<img src="assets/default_user.png" class="list-icon" alt="expense icon">
				    <span>Just wanted to let you guys know my mom will be visiting saturday.</span>
				  </li>
				</ul>
      </div>
      <div class="mdl-card__actions">
         <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">View all issues<i class="material-icons">chevron_right</i></a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="images/more-from-3.png">
      </div>
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">House Summary</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Your roommates have completed ___ tasks. ___ Bills have been paid since you have last visited. ___ house issues have been addressed.</span>
      </div>
      <div class="mdl-card__actions">
         <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">Read full summary<i class="material-icons">chevron_right</i></a>
      </div>
    </div>
  </div>
</div>

<section class="roommates">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <img src="assets/default_user.png" alt="user photo">
      <span class="roommateName">current user</span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <img src="assets/default_user.png" alt="user photo">
      <span class="roommateName">roommate Name</span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <img src="assets/default_user.png" alt="user photo">
      <span class="roommateName">roommate Name</span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <img src="assets/default_user.png" alt="user photo">
      <span class="roommateName">roommate Name</span>
    </div>
    
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <img src="assets/default_user.png" alt="user photo">
      <span class="roommateName">roommate Name</span> 
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <img src="assets/default_user.png" alt="user photo">
      <span class="roommateName">roommate Name</span>
    </div>
	</section>  
 </div>
<div>
