<!-- <div class="container"> -->
	<section class="feature-boxes"> 
		<div class="row">
			<div class="col s12">
			  <div class="feature tasks">
			    <h2>Upcoming Tasks</h2>
			    <ul>
			      <li><img src="assets/list.png" class="list-icon" alt="task icon">
			      	<span>Take out the trash</span>
			      </li>
			      <li>
			      	<img src="assets/expense.png" class="list-icon" alt="expense icon">
			        <span>Pay the electricity bill</span>
			      </li>
			      <li><img src="assets/list.png" class="list-icon" alt="task icon">
			      	<span>Mow the lawn</span>
			      </li>
			      <li>
			      	<img src="assets/expense.png" class="list-icon" alt="expense icon">
			        <span>Pay the cable bill</span>
			      </li>
			    </ul>
			  </div>

			  <div class="feature expenses">
			    <h2>Monthly Expenses</h2>
			    <!-- insert graph here --> 
			    <img src="assets/template_graph.png" class="chart" alt="graph icon">
			  </div>

			  <div class="feature">
			    <h2>User activity</h2>
			    <!-- insert graph here --> 
			    <img src="assets/template_chart.png" class="chart" alt="graph icon">
			  </div>

			   <div class=" feature">
			    <h2>Current Issues</h2>
			  </div>
			</div>
		</div>
	</section>

	<section class="roommates">
		<div class="row">
		  <div class="col s2">
		    <img src="../../../assets/default_user.png" alt="user photo">
		    <span class="roommateName">current user</span>
		  </div>

		  <div class="col s2">
		    <img src="../../../assets/default_user.png" alt="user photo">
		    <span class="roommateName">roommate Name</span>
		  </div>

		   <div class="col s2">
		    <img src="../../../assets/default_user.png" alt="user photo">
		    <span class="roommateName">roommate Name</span>
		  </div>

		  <div class="col s2">
		    <img src="../../../assets/default_user.png" alt="user photo">
		    <span class="roommateName">roommate Name</span>
		  </div>
		  
		   <div class="col s2">
		    <img src="../../../assets/default_user.png" alt="user photo">
		    <span class="roommateName">roommate Name</span>
		  </div>

		  <div class="col s2">
		    <img src="../../../assets/default_user.png" alt="user photo">
		    <span class="roommateName">roommate Name</span>
		  </div>
		</div>
	</section>
<!-- 	</div> -->
<!-- </div> -->


