<!-- Square card -->
<style>
  .demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
  }
</style>

<div class=" mdl-cell mdl-cell--12-col mdl-grid feature-boxes">

	<div class="mdl-card mdl-shadow--2dp demo-card-square tasks">
	  <div class="mdl-card__title mdl-card--expand">
	    <h2 class="mdl-card__title-text">Upcoming Tasks</h2>
	  </div>
	  <div class="mdl-card__supporting-text task-list">
	    <ul>
		  <li><img src="assets/list.png" class="list-icon" alt="task icon">
		  	<span>Take out the trash</span>
		  </li>
		  <li>
		  	<img src="assets/expense.png" class="list-icon" alt="expense icon">
		    <span>Pay the electricity bill</span>
		  </li>
		  <li><img src="assets/list.png" class="list-icon" alt="task icon">
		  	<span>Mow the lawn</span>
		  </li>
		  <li>
		  	<img src="assets/expense.png" class="list-icon" alt="expense icon">
		    <span>Pay the cable bill</span>
		  </li>
		</ul>
	  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a href="#/tasks" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      View Tasks
	    </a>
	  </div>
	</div>

	<div class="mdl-card mdl-shadow--2dp demo-card-square expenses">
	  <div class="mdl-card__title mdl-card--expand">
	    <h2 class="mdl-card__title-text">Monthly Expenses</h2>
	  </div>
	  <div class="mdl-card__supporting-text">
		<img src="assets/template_graph.png" class="chart" alt="graph icon">
	  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a href="#/budget" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      View Updates
	    </a>
	  </div>
	</div>

	<div class="mdl-card mdl-shadow--2dp demo-card-square">
	  <div class="mdl-card__title mdl-card--expand">
	    <h2 class="mdl-card__title-text">User Activity</h2>
	  </div>
	  <div class="mdl-card__supporting-text">
	  	<img src="assets/template_chart.png" class="chart" alt="graph icon">
	  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a href="#/chat" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      View Activities
	    </a>
	  </div>
	</div>

	<div class="mdl-card mdl-shadow--2dp demo-card-square issues">
	  <div class="mdl-card__title mdl-card--expand">
	    <h2 class="mdl-card__title-text">Current Issues</h2>
	  </div>
	  <div class="mdl-card__supporting-text issues-list">
	  	<ul>
		  <li><img src="assets/default_user.png" class="list-icon" alt="task icon">
		  	<span>Please label your food in the fridge</span>
		  </li>
		  <li>
		  	<img src="assets/default_user.png" class="list-icon" alt="expense icon">
		    <span>Thanks for taking out the trash, Maura!</span>
		  </li>
		  <li><img src="assets/default_user.png" class="list-icon" alt="task icon">
		  	<span>Let's keep it down after 11:00pm</span>
		  </li>
		  <li>
		  	<img src="assets/default_user.png" class="list-icon" alt="expense icon">
		    <span>Just wanted to let you guys know my mom will be visiting saturday.</span>
		  </li>
		</ul>
	  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
	      View Updates
	    </a>
	  </div>
	</div>
</div>

<!-- <section class="roommates">
        <div class="row">
          <div class="col s2">
            <img src="../../../assets/default_user.png" alt="user photo">
            <span class="roommateName">current user</span>
          </div>

          <div class="col s2">
            <img src="../../../assets/default_user.png" alt="user photo">
            <span class="roommateName">roommate Name</span>
          </div>

           <div class="col s2">
            <img src="../../../assets/default_user.png" alt="user photo">
            <span class="roommateName">roommate Name</span>
          </div>

          <div class="col s2">
            <img src="../../../assets/default_user.png" alt="user photo">
            <span class="roommateName">roommate Name</span>
          </div>
          
           <div class="col s2">
            <img src="../../../assets/default_user.png" alt="user photo">
            <span class="roommateName">roommate Name</span> 
          </div>

          <div class="col s2">
            <img src="../../../assets/default_user.png" alt="user photo">
            <span class="roommateName">roommate Name</span>
          </div>
        </div>
    </section> -->  
