 <div row>
  <div class="col s9 offset-s2">
    <div id='joinHouse' class="col s5">
      <h1>Join a house</h1>
      <form name="joinHouseForm" ng-submit='joinHouse()'>
        <input type='text'ng-model='string' placeholder='enter house key'>
        <button>Join House</button>
      </form>
    </div>

    <div id='newHouse' class="col s5">
      <h1>Create a house</h1>
      <form name="newHouseForm" ng-submit='newHouse()'>
        <input type='text'ng-model='email1' placeholder="enter roommate's email">
        <input type='text'ng-model='email2' placeholder="enter roommate's email">
        <input type='text'ng-model='email3' placeholder="enter roommate's email">
        <input type='text'ng-model='email4' placeholder="enter roommate's email">
        <button>Create House</button>
      </form>
    </div>
  </div>
</div>