<div class="mdl-grid">
  <div class="tasksList-container mdl-cell mdl-cell--5-col hh-form-overlay">  <!-- mdl-cell--middle  -->
    <div class="hh-form">
      <h1>Compliments and Concerns</h1>
      <hr>
      <form class="issuesForm" name="issuesForm" ng-submit='addIssue()'>
        <input id="issueField" type='text' name="userIssue" ng-model='issueText' placeholder='enter issue here' required>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored #hh-issue-btn">Submit</button>
      </form> 
    </div>
  </div>

  <div class="tasksList-container hh-form-overlay mdl-cell mdl-cell--5-col">
    <h1>Current Issues</h1>
    <hr style="width:250px">
      <ul>
        <li ng-repeat="issue in allIssues track by $index">
          {{issue.date}} - {{issue.text}}
          <form name="removeButton" ng-submit='removeIssue(issue.text)'>
            <button>Resolved!</button>
          </form>
        </li>
        <li ng-if="allIssues.length === 0">
          <strong>No Issues!</strong>
        </li>
      </ul>
  </div>
</div>
