<h1>Compliments and Concerns</h1>
<form name="issuesForm" ng-submit='addIssue()'>
    <input type='text' name="userIssue" ng-model='issueText' placeholder='enter issue here' required>
    <button>submit</button>
</form>
<form name="printForm" ng-submit='getIssues()'>
    <button>PrintIssues</button>
</form>
<!-- read from the database to populate issues -->

<h2>Current Issues</h2>
<ul>
  <li ng-repeat="issue in allIssues track by $index">
    {{issue}}
  </li>
  <li ng-if="allIssues.length === 0">
    <strong>No Issues!</strong>
  </li>
</ul>