<div ng-controller="expensesCtrl">
  <h1>Expenses</h1>
  <form name='expensesForm' ng-submit='newExpense()'>
      <input id="expenseName" type='text' name='userExpenseName' ng-model='expenseName' placeholder='enter expense name' required>
      <!-- need step='0.01' to get decimal numbers (otherwise only integers allowed) -->
      <input id="expenseCost" type='number' name="userExpenseAmount" ng-model='expenseCost' min='0.01' step='0.01' placeholder='enter amount' required>
      <!-- {{currentDate | date:"yyyy-MM-dd"}} parses the date into a str so can be used for min -->
      <input id="expenseDate" type='date' name="userExpenseDueDate" ng-model='expenseDate' min='{{currentDate | date:"yyyy-MM-dd"}}' placeholder='enter due date' required>
      <button>submit</button>
  </form>

  <!-- read from the database to populate expenses -->

      <ul>
        <li ng-repeat="expense in expensesArr">
           {{expense.name}} {{expense.y | currency}}
        </li>
        
        <li ng-if="expensesArr.length === 0">
          <strong>No Expenses</strong>
        </li>
      </ul>
</div>

<!-- chart container -->
<div id="expGraph" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>