
<main class="mdl-layout__content">
  <div class="mdl-grid" style='width:80%'>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet hh-issues-form-overlay hh-expense-small-box"> 
      <div class="hh-form" ng-controller="expensesCtrl">
        <h1>Expenses</h1>
        <hr>
        <form name='expensesForm' ng-submit='newExpense()'>
          <input id="expenseName" type='text' name='userExpenseName' ng-model='expenseName' placeholder='enter expense name' required>
          <!-- need step='0.01' to get decimal numbers (otherwise only integers allowed) -->
          <input id="expenseCost" type='number' name="userExpenseAmount" ng-model='expenseCost' min='0.01' step='0.01' placeholder='enter amount' required>
          <!-- {{currentDate | date:"yyyy-MM-dd"}} parses the date into a str so can be used for min -->
          <input id="expenseDate" type='date' name="userExpenseDueDate" ng-model='expenseDate' min='{{currentDate | date:"yyyy-MM-dd"}}' placeholder='enter due date' required>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored #hh-issue-btn">Submit</button>
        </form>
      </div>
    </div>

    <div class="issues-container hh-issues-form-overlay hh-expense-small-box mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet">
      <h1>Current Bills</h1>
      <hr>
      <!-- read from the database to populate expenses -->
      <ul>
        <li ng-repeat="expense in expensesArr">
          {{expense.name}} {{expense.y | currency}}
        </li>
        <li ng-if="expensesArr.length === 0">
          <strong>No Expenses</strong>
        </li>
      </ul>
      <h1>User Expenses</h1>
      <hr>
       <ul>
         <li ng-repeat="expense in userExpensesArr">
          <form ng-if="expense.paid === false" name='payExpenseForm' ng-submit='payExpense(expense.name)'>
            {{expense.name}} - You owe: {{expense.y | currency}} <button>I paid</button>
            </form>
         </li>
         
         <li ng-if="userExpensesArr.length === 0">
           <strong>You dont owe any money</strong>
         </li>
       </ul>
    </div>

    <div class="issues-container hh-issues-form-overlay  current-expense-chart-container mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <!-- chart container -->
      <div id="expGraph" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
   </div>
</main>