<div class="tasks-container">
  <div class="mdl-grid">
    <div class="tasksForm-container mdl-cell mdl-cell--5-col hh-form-overlay">
      <h1>Create a new task</h1>
      <hr style="width:250px">
      <form name="tasksForm" class="hh-form" ng-submit='tasks.addTask()'>
        <div>
          <label>Task:</label>
          <input type='text' id="newTask" name="task" ng-model='newTask' ng-minlength='4' ng-maxlength='20' placeholder='Enter the new task' required>

            <div ng-messages="tasksForm.task.$error" role="alert" class="form-error-active">
              <div ng-message="required">enter a task</div>
              <div ng-message-exp="['minlength', 'maxlength']">Your task must be between 4 and 20 characters</div>
            </div>

            <div>
              <label for="newTaskDoer">Assignee:</label>
              <input type='text' name="taskDoer" ng-model='newTaskDoer' ng-minlength='3' ng-maxlength='10' placeholder='Enter the task assignee' required>
            </div>

            <div ng-messages="tasksForm.taskDoer.$error" role="alert" class="form-error-active">
              <div ng-message="required">assign the task to someone</div>
              <div ng-message-exp="['minlength', 'maxlength']"> The assignee's name must be between 3 and 10 characters</div>
            </div>

            <div>
              <label for="newTaskDueDate">Due Date:</label>
              <input type="date" name="TaskDueDate" ng-model='newTaskDueDate' min='{{tasks.currentDate | date:"yyyy-MM-dd"}}' required>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Add Task</button>
      </form>
    </div>
  </div>


    <div class="tasksList-container hh-form-overlay mdl-cell mdl-cell--10-col">
      <h1>House Tasks</h1>
      <hr style="width:250px">
      <h3>Current Tasks:</h3>
        <ul>
          <li ng-repeat="task in tasks.taskArr">
            <input type="checkbox" name="checkTask" ng-click="tasks.checkTask(task)">
            <span class="assignee">{{task.doer}}</span>
            <span class="description">{{task.description}} </span>
            <span class="dueDate">{{task.dueDateFormat}} </span>
          </li>
        </ul>
      <h3>Completed Tasks:</h3>
      <ul>
        <li ng-repeat="task in tasks.compTaskArr">
            <span class="strike">{{task.doer}} {{task.description}}</span>
        </li>
        <li ng-if="taskArr.length == 0">
          <strong>No current tasks</strong>
        </li>
      </ul>
    </div>
  </div>
</div>
