<div class="mdl-grid">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--middle hh-form-overlay hh-registration">
      <div class="register-form hh-form">
        <h1>New User Registration</h1>
        <hr>
        <form name="newUserForm" ng-submit='addUser()'>
          <input type='email' name="userEmail" ng-model='email' placeholder="email" required>
          <div role="alert">
            <span class="error" ng-show="loginForm.userEmail.$error.required">
              Please enter your e-mail address</span>
            <span class="error" ng-show="myForm.userEmail.$error.email">
              That is not a valid email</span>
          </div>
          <input id="newPasswordField" type="password" ng-model='password' placeholder="password" required>
          <input id="newFirstNameField" type='text' ng-model='firstname' placeholder="first name" required>
          <input id="newLastNameField" type='text' ng-model='lastname' placeholder="last name" required>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Register</button>
        </form>
        <a href="#/login">Already have an account? <strong>Signin</strong> ...</a>
      </div>
    </div>
  </div>
<div>
